# This is a basic workflow to help you get started with Actions

name: YAML for testing on git

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      #Set up dotnet with version 8 for /API tests 
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            8.0.x
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install newman and Angular CLI
        run: npm i -g newman @angular/cli

      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm i

      


      
      - run: dotnet build
      - run: cd frontend && ng build
      - name: install browsers
        run: cd .. && pwsh bin/Debug/net8.0/playwright.ps1 install --with-deps
        

      - name: Run the PlaywrightTest
        run: (sleep 20 && cd API && dotnet run & (sleep 20 && cd PlaywrightTests && (sleep 20 && dotnet test && kill -9 $(lsof -t -i:5000))))
        env:
          pgconn: ${{secrets.pgconn}}

      #Runs the api and the test, once finished it wil terminate the api so the proces can finish
      - name: Run the APITest
        run: cd API && dotnet run & (sleep 20 && cd BoxAPITest && dotnet test && kill -9 $(lsof -t -i:5000))
        env:
          pgconn: ${{secrets.pgconn}}

